{% extends 'layout/base_fullscreen.html' %}
{% load static %}
{% load socialaccount %} 

{% block head %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card bg-transparentOpen. ">
                <div class="card-header text-center">
                    <h5>
                        Login as Customer
                    </h5>
                </div>
                <div class="card-body text-center">
                    <a href="{% provider_login_url "github" %}" 
                        class="btn btn-dark btn-block">
                        <i class="fab fa-github"></i> 
                        Login with Github
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
<style>
    main{
        background-color: #f8f9fa;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;    
        flex-direction: column;
    }
</style>
{% endblock %}

{% block js %}
<script></script>
{% endblock %}
    